<!-- FOR SHOW THE MESSAGES IN CASE IS GOOD -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{% if message == 'Some problem with Upload the File. Verify the file, please.'
 or message == 'Some problem with upload the file. Verify the file, please.' 
 or message == 'Some problem to convert the file to audio.' 
 or message == 'Some problem to delete the file.' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <p>
    <strong>{{ message }}</strong>
  </p>
  <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <p>
    <strong>{{ message }}</strong>
  </p>
  <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}